body {
  background-color: #333333;
  color: #fff;
  font-family: sans-serif;
  padding: 20px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

#bodymovin {
  background-color: #333333;
  width: 40%;
  height: 100%;
  display: block;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  margin: auto;
  opacity: 1; }
